body{
    background-color: rgb(179, 0, 255);
}
h2{
    color: rgb(0, 140, 255);
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: rgb(0, 255, 128);
    font-size: small;
    font-family: serif;
}