<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
</head>
<body>
    <div id="app">
        
        <h3>{{numero1}}</h3>
        <h3>{{numero2}}</h3>
        <input type="number" v-model="numero1">
        <input type="number" v-model="numero2">
        <hr>
        <p>SUMA: {{suma()}}</p>
        <p>RESTA: {{resta()}}</p>
        <p>MULTIPLICACIÓN: {{multiplicacion()}}</p>
        <p>DIVISIÓN: {{division()}}</p>

    </div>
    
    <!-- CDN -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> 
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                numero1: 0,
                numero2: 0,
            },
            //métodos
            methods:{
                suma: function(){
                    return this.numero1 - (- this.numero2)
                },
                resta: function(){
                    return this.numero1 -  this.numero2
                },
                multiplicacion: function(){
                    return this.numero1 * this.numero2
                },
                division: function(){
                    return this.numero1 / this.numero2
                },
            }
        })
    </script>
</body>
</html>